<h1>New Recipe</h1>

<%= form_with(model: [@recipe], url: recipes_path, local: true) do |f| %>
  <div class="input-group mb-3">
    <%= f.text_field :name, class: "form-control", placeholder: 'Name of recipe'%>
  </div>
  <div class="input-group mb-3">
  <%= f.number_field :preparation_time, class: "form-control", step: '0.1', placeholder: 'Preparation time in hours' %>
  </div>
  <div class="input-group mb-3">
  <%= f.number_field :cooking_time, class: "form-control", step: '0.1', placeholder: 'Cooking time in hours' %>
  </div>
  <div class="input-group mb-3">
  <%= f.text_field :description, class: "form-control", step: '0.1', placeholder: 'Description' %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit class: "btn btn-primary"%>
<% end %>