<%= render partial: 'layouts/section_title', locals: { section_title: "#{@recipe.name} - Add Ingredients" } %>
<div class='d-flex flex-column'>
  <div class='d-flex justify-content-around'>
    <div>Preparation time: <%=@recipe.preparation_time%></div>
    <% if @recipe.user_id == current_user.id %>
      <div class="d-flex gap-3">
        <div>Public</div>
        <div class="form-check form-switch">
          <%=form_with(model: @recipe, url: recipe_path(@recipe), method: :patch, local: true) do |f| %>
            <%= f.check_box :public, { class: "form-check-input", role: "switch", checked: @recipe.public } %>
            <%= f.submit "", class: 'toggle-public'%>
          <% end %>
        </div>
      </div>
    <%end%>
    <div>Cooking time: <%=@recipe.cooking_time%></div>
  </div>
</div>
<%if @recipe.public || @recipe.user_id == current_user.id%>
  <div class='d-flex justify-content-around my-4'>
    <%= link_to "Generate shopping list", shopping_recipes_path, class: 'btn btn-primary btn-sm' %>
    <%if @recipe.user_id == current_user.id%>
      <%=link_to 'Add ingredient', new_recipe_food_path(recipe_id: @recipe.id), class: 'btn btn-primary btn-sm'%>
    <%end%>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Food</th>
        <th scope="col">Quantity</th>
        <th scope="col">Value</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @recipe.recipe_foods.each do |recipe| %>
        <tr>
          <td><%= recipe.food.name%></td>
          <td><%= recipe.quantity.to_s + recipe.food.unit%></td>
          <%if recipe.quantity.nil?%>
          <td><%='$0'%></td>
          <%else%>
          <td><%="$#{recipe.quantity * recipe.food.price}"%></td>
          <%end%>
          <td><%= button_to "Remove", url_for([recipe]), class: "btn btn-danger btn-sm", method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%end%>
</div>
